.mxw600 {
	max-width: 600px;
}
.mxw650 {
	max-width: 650px;
}
.mxw700 {
	max-width: 700px;
}
.mxw750 {
	max-width: 750px;
}
.box50 {
	width:50px;
	height: 50px;
}

/* 마진 관련 클래스 */

.mg0{
	margin: 0px;
}
.mgl10{
	margin-left: 10px;
}
.mgl35{
	margin-left: 35%;
}
.mgl45{
	margin-left: 45%;
}
.mgt20{
	margin-top: 20px;
}
.mgb15{
	margin-bottom: 15px;
}
.mgb20{
	margin-bottom: 20px;
}

/* 패딩 관련 클래스 */
.pdl10{
	padding-left: 10px;
}
.pdr10{
	padding-right: 10px;
}
.pdh30{
	padding-top: 30px;
	padding-bottom: 30px;
}

/* 오버플로우 클래스 */
.hidden{
	overflow: hidden;
}

/* 폰트 관련 클래스 */
.ft12{
	font-size: 12pt;	
}
.ft16{
	font-size: 16pt;	
}
.ft18{
	font-size: 18pt;	
}
.bd{
	font-weight: bold;
}

/* 영역사이즈 클래스 */
.w150{
	width: 150px;
}

.w300{
	width: 300px;
}

/*크기 관련*/
.wd15{
	width: 15%!important;
}
.wd30{
	width: 30%;
}
.wd100{
	width: 100px;
}
.ht100{
	height: 100px;
}

.ht250{
	height: 250px;
}

/*디스플레이 관련*/
.block{
	display: block;
}
.inlineBlock{
	display: inline-block;
}

/* 아바타 관련 사이즈 */
.avtimg{
	width: 98px;
	height: 98px;
}

.imgbox{
	width: 98px;
	height: 98px;
}

.avtfr{
	width: 100px;
	height: 125px;
}

.h9{
	height: 9px;
}

.h30{
	height: 29px;
}